{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
</head>
<body>

<div class="container">

    {% if messages %}

    <div class="messages">

        {% for message in messages %}

        <div class="message {{ message.tags }}">{{ message }}</div>

        {% endfor %}

    </div>

    {% endif %}

    <!-- LEFT -->

    <div class="left">

        <h1>Join UniERP</h1>

        <p>
            Create your account and manage students,
            attendance, fees and university data easily.
        </p>

    </div>

    <!-- RIGHT -->

    <div class="right">

        <h2>Create Account</h2>

        <form method="POST">

            {% csrf_token %}

            <input type="text"
                   name="username"
                   placeholder="Username">

            <input type="email"
                   name="email"
                   placeholder="Email">

            <input type="password"
                   name="password"
                   placeholder="Password">

            <button type="submit">
                Register
            </button>

        </form>

        <div class="link">

            <a href="{% url 'login' %}">
                Already have an account?
            </a>

            <a href="{% url 'home' %}">
                Back to Home
            </a>

        </div>

    </div>

</div>

</body>
</html>